{% extends '@!EasyAdmin/page/content.html.twig' %}

{% block main %}

    {{ form_start(form, {'method': 'POST'}) }}
    {{ form_widget(form.query)}}
    {{ form_widget(form.search, { 'attr': {'class': 'btn btn-primary'} }) }}
    {{ form_end(form) }}
    {% if responseInfo != null %}
    <p>
        <li>Collected: {{ responseInfo['collectDataCount'] }}</li></n>
        <li>Add new :  {{ responseInfo['addDataCount'] }}</li></n>
        <li>Update :   {{ responseInfo['collectDataCount'] - responseInfo['addDataCount'] }}</li></n>
    </p>
    {% endif %}
{% endblock main %}


